<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Generate a collage of your top Spotify albums">
    <meta name="keywords" content="Spotify, Collage, Generator, Album, Music">

    <title>Streamcollage - Beta- Spotify Collage Generator</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> {% load static %}

    <style>
        #logo-blue {
            color: orange;
        }

        .nav {
            margin-bottom: 10px;
            background-color: #191414;
        }



        .nav .title {
            color: white;
        }

        .nav .nav-item {
            color: white;
        }

        a:hover {
          color: white;
        }

        .fa-twitter {
          color: #1da1f2;
        }

        img {
          background: url({% static "img/loading.gif" %}) no-repeat;
          background-position: center;
          background-size: 100px 100px;
        }

        .is-brand {
          display: block;
          text-align: left;
        }

        #main-logo {
          margin-bottom: 0px
        }

    </style>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88758069-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item is-brand" href="#">
                    <h1 id="main-logo" class="title"><span id="logo-blue">Stream</span>collage - Beta</h1>
                    <p>Generate a collage of your top Spotify albums</p>
                </a>


            </div>

            <div class="nav-right nav-menu">
                <a class="nav-item" href="#">Generator</a>
                <a class="nav-item" href="#">About</a>

                <span class="nav-item">
            <a class="button" >
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
                <span>Tweet</span>
                </a>
                <a class="button" href="#">
                    <span class="icon">
                <i class="fa fa-github"></i>
              </span>
                    <span>Github</span>
                </a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container">

      <!-- Start Tiles -->
        <div class="tile is-ancestor">
            <div class="tile is-3 is-vertical is-parent">

              <!-- Settings Tile -->
                <div class="tile is-child box">
                    <p class="title">Settings</p>

                    <form action="" method="post">
                        {% csrf_token %}
                        <label class="label">Grid Size</label>
                        <p class="control">
                            <span class="select is-medium">{{ form.grid_size }}</span>
                        </p>


                        <label class="label">Time Range</label>
                        <p class="control">
                            <span class="select is-medium">{{ form.time_range }}</span>
                        </p>

                </div>

                <!-- Generate Tile -->
                <div class="tile is-child box">
                    <p class="title">Generate</p>
                    <p class="control">
                        <button class="button is-success is-medium" type="submit">
                          Generate Using Spotify
                        </button>
                    </p>
                    </form>

                </div>

            </div>

            <!-- Result Tile -->
            <div class="tile is-parent">
                <div class="tile is-child box">

                  <!--
                  <div class="notification is-info">
                    Generate a collage using your Spotify account using the settings on the left
                </div>
              -->

                  <p class="title">Result</p>
                  <figure class="image is-square">
                        <img src="/get_image" alt="Collage" style="background-color: grey" id="collage">
                  </figure>
                </div>

            </div>

            <!-- Downloads Tile -->

            <div class="tile is-3 is-vertical is-parent">
                <div class="tile is-child box">

                    <p class="title">Download</p>

                    <form method="get" action="/get_image">
                      <button class="button is-medium" type="submit">Download Collage</button>
                    </form>

                </div>
                <!--
                <div class="tile is-child box">
                    <img src="{% static "img/ad.jpg" %}" alt="Collage Preview">
                </div>-->
            </div>
        </div>

    </div>



</body>

</html>
